*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*header*/

header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}

.header-nav {
	width: 1034px;
	height: 70px;
	margin: 0 auto;
}

.nav-logo img {
	width: 140px;
	height: 60px;
	margin-top: 5px;
	float: left;
}

.nav-item {
	float: right;
}

.nav-item li {
	margin: 0 30px;
	color: #FAFAFA;
	font-size: 16px;
	display: inline-block;
	line-height: 70px;
}

/*main-visual*/

.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: bottom;
}

.main-vis-text {
	padding-top: 200px;
	text-align: center;
	color: #FAFAFA;
}

.main-vis-text h1 {
	font-size: 64px;
	margin-bottom: 10px;
}

.main-vis-text p {
	font-size: 20px;
}

/*portfolio*/

.portfolio-container {
	width: 920px;
	margin: 0 auto;
	color: #000;
	text-align: center;
}

.pf-headline {
	font-size: 32px;
	padding-top: 90px;
}

.pf-headline::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0;
	background-color: #EC715F;
}

.pf-text {
	margin: 30px 0;
	font-size: 16px;
	color: #000;
}

.pf-images {
	margin-bottom: 90px;
}

.pf-image1 {
	width: 300px;
	height: 250px;
	background-image: url(img/sketch.jpg);
	background-size: cover;
	background-position: center;
	float: left;
}

.pf-image2 {
	width: 300px;
	height: 250px;
	background-image: url(img/websuku.png);
	background-size: cover;
	background-position: center;
	float: left;
}

.pf-image3 {
	width: 300px;
	height: 250px;
	background-image: url(img/write.jpg);
	background-size: cover;
	background-position: center;
	float: left;
}

.pf-image4 {
	width: 300px;
	height: 250px;
	background-image: url(img/webcamp.png);
	background-size: cover;
	background-position: center;
	float: left;
}

.pf-image5 {
	width: 300px;
	height: 250px;
	background-image: url(img/talk.jpg);
	background-size: cover;
	background-position: center;
	float: left;
}

.pf-image6 {
	width: 300px;
	height: 250px;
	background-image: url(img/webcamp-mother.png);
	background-size: cover;
	background-position: center;
	float: left;
}

.pf-images div:nth-child(-n+3) {
	margin-bottom: 10px;
}

.pf-images div:nth-child(1),
.pf-images div:nth-child(2),
.pf-images div:nth-child(4),
.pf-images div:nth-child(5) {
	margin-right: 10px;
}
